<ons-page>
    <div class="trailer">
        <!--<ons-icon icon="fa-play-circle"></ons-icon>-->
        <img class="img" src="../images/fantastic.jpg" >
    </div>

    </div>
    <div style="margin-top: 20px; margin-left: 10px;  text-align:left;">
        
        <h2 style="font-weight: bold">Fantastic Beasts (2018)</h2>

      

        <p>Newt Scamander (Eddie Redmayne) travels from London to New York City with a briefcase full of magical creatures, or fantastic beasts. When he arrives, his case is inspected by a customs official, but Newt is able to hide the magic from muggle eyes. Some men are inspecting a building downtown that has been torn through.</p>
        <p>
            Cast: Actor 1, Actress 1, Actor 2, Actress 2 <br />
            Director: Popular Director
        </p>
        <span style="font-weight: bold">Ratings</span>
        <span style="font-weight: bold">Views</span>
        <span class="list-item__subtitle bold">
          <div >
            <ons-icon class="icon" icon="md-star"> </ons-icon>
            <ons-icon class="icon" icon="md-star"> </ons-icon>
            <ons-icon class="icon" icon="md-star"> </ons-icon>
            <ons-icon class="icon" icon="md-star"> </ons-icon>
            <ons-icon class="icon" icon="md-star-half"> </ons-icon>
            <span class="list-item__subtitle bold" style="text-align: right;">4,223,002 Views</span>
          </div>
        </span>
    </div>
</ons-page>