<ons-page>
    <div class="trailer">
        <!--<ons-icon icon="fa-play-circle"></ons-icon>-->
        <img class="img" src="../images/Maleficent Poster.jpg" >
    </div>

    </div>
    <div style="margin-top: 20px; margin-left: 10px; text-align:left;">
       
        <h2 style="font-weight: bold">Maleficent (2019)</h2>
      

        <p>    the untold story of Disney’s most iconic villain from the 1959 classic “Sleeping Beauty.” A beautiful, pure-hearted young woman, Maleficent has an idyllic life growing up in a peaceable forest kingdom, until one day when an invading army threatens the harmony of the land.</p>
        <p>
            Cast: Actor 1, Actress 1, Actor 2, Actress 2 <br />
            Director: Popular Director
        </p>
       
        <li class="list-item " style="padding: 0px;">
            <div class="list-item__tital bold " >Ratings</div>
            <div class="list-item__right list-item--nodivider__right ">
              <div class="list-item__title bold">Views</div>
            </div>
          </li>
          <li class="list-item " style="padding: 0px;">
              <div class="list-item__tital bold " > 
                <ons-icon class="icon" icon="md-star"> </ons-icon>
                <ons-icon class="icon" icon="md-star"> </ons-icon>
                <ons-icon class="icon" icon="md-star"> </ons-icon>
                <ons-icon class="icon" icon="md-star"> </ons-icon>
                <ons-icon class="icon" icon="md-star-outline"> </ons-icon></div>
              <div class="list-item__right list-item--nodivider__right ">
                <span class="list-item__subtitle bold" style="text-align: right;">1,223,456 Views</span>
              </div>
            </li>
    </div>
</ons-page>