<ons-page>
    <div >
        <img class="img" src="../images/harry1.jpg" >
    </div>

    </div>
    <div style="margin-top: 20px; margin-left: 10px;  text-align:left;">
        
        <h2 style="font-weight: bold">Harry Potter (2012)</h2>

        <p>When he tried to kill a one-year-old boy, Harry Potter (Daniel Radcliffe), the killing curse rebounded upon him, destroying his body. Harry is left an orphan with a lightning-bolt scar on his forehead, Voldemort having killed his parents, Lily (Geraldine Somerville) and James (Adrian Rawlins) Potter.</p>
        <p>
            Cast: Actor 1, Actress 1, Actor 2, Actress 2 <br />
            Director: Popular Director
        </p>
        
        <span style="font-weight: bold">Ratings</span>
    
        <span class="bold" style="text-align: right ;">Views</span>
      <span class="list-item__subtitle bold">
        <div >
          <ons-icon class="icon" icon="md-star"> </ons-icon>
          <ons-icon class="icon" icon="md-star"> </ons-icon>
          <ons-icon class="icon" icon="md-star"> </ons-icon>
          <ons-icon class="icon" icon="md-star"> </ons-icon>
          <ons-icon class="icon" icon="md-star"> </ons-icon>
          <span class="list-item__subtitle bold" style="text-align: right;">11,223,456 Views</span>
        </div>
        
       
      </span>
      
    </div>
</ons-page>