<ons-page id="home">
 
  <ons-navigator swipeable id="myNavigator" page="page1.html"></ons-navigator>
  <template id="page1.html">
      <ons-page id="Home">
        <div class=" title "> <h1>Top 10 this month</h1></div>
          <ons-carousel swipeable auto-scroll overscrollable id="carousel">
              <ons-carousel-item >
                  <div style="text-align: center; font-size: 30px; color: #fff;">
                      <img class="img"  src="../images/harry1.jpg" alt="" id="spiderman">
                  </div>
              </ons-carousel-item>
              <ons-carousel-item >
                  <div style="text-align: center; font-size: 30px; color: #fff;">
                      <img class="img" src="../images/Maleficent Poster.jpg" alt="" id="infinitywar">
                  </div>
              </ons-carousel-item>
              <ons-carousel-item >
                  <div style=" text-align: center; font-size: 30px; color: #fff; ">
                      <img class=" img " src="../images/fantastic.jpg" alt=" " id="endgame">
                  </div>
              </ons-carousel-item>
          </ons-carousel>
     <h2>Trending now..</h2>    
      </ons-page>
      
  </template>
    

</ons-page>

  
