<ons-page id="home">
  <h2>Top 10 this month</h2>

  <ons-carousel style="height: 100%; width: 50%; "swipeable auto-scroll overscrollable id="carouselIndex">
      <ons-carousel-item style="background-image: url('../images/lisa.jpg');">
      </ons-carousel-item>
      <ons-carousel-item style="background-image: url('images/rose.jpg');">
      </ons-carousel-item>
      <ons-carousel-item style="background-image: url('images/jennie.jpg');">
      </ons-carousel-item>
    </ons-carousel>
    <h2>Trending now...</h2>

</ons-page>

  
